div(class="navbar-wrapper")
  div(class="container")
    nav(class="navbar navbar-inverse navbar-static-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") 
            span(class="text-danger") Knowledge Empowers You!!
        div(id="navbar" class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") My Development
            li
              a(href="#about") Transcript
            li
              a(href="#contact") Catalogue
            li
              a(href="#contact") My Team
