.container.marketing
  .row
    .col-lg-3
      a(role="Button" href="https://www.google.com")
        img.img-circle(src='https://webappstatic.buzzfeed.com/static/images/global/og-image-trending.jpg', alt='Generic placeholder image', width='140', height='140', href="https://www.google.com")
      h2
        a(role="Button" href="https://www.yahoo.com") My Development Plan
        
    // /.col-lg-4
    .col-lg-3
      a(role="Button" href="https://www.google.com")
        img.img-circle(src='https://lh3.googleusercontent.com/Tw0y51K74O5GFuO2KpHHckSOAcgT--88wwmLGCBwkJS8BnRlhVBk87gsk6XJcPrcOj43=w300-rw', alt='Generic placeholder image', width='140', height='140')
      h2 
        a(role="Button" href="https://www.google.com") My Transcript
    // /.col-lg-4
    .col-lg-3
      a(role="Button" href="https://www.google.com")
        img.img-circle(src='https://assets.fastcompany.com/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/3051812-inline-i-1-gbslogo.jpg', alt='Generic placeholder image', width='140', height='140', link='www.yahoo.com')
      h2 
        a(role="Button" href="https://www.google.com") Catalogue
    .col-lg-3
      a(role="Button" href="https://www.google.com")  
        img.img-circle(src='http://cornellrocketryteam.com/icon/red_circle_team.png', alt='Generic placeholder image', width='140', height='140', link='www.yahoo.com')
      h2 
        a(role="Button" href="https://www.google.com") My Team
        // /. http://cornellrocketryteam.com/icon/red_circle_trophy.png
        // /.  http://cornellrocketryteam.com/icon/red_circle_team.png
        //  http://cornellrocketryteam.com/icon/red_circle_hand.png

    // /.col-lg-4
  // /.row
  // START THE FEATURETTES
  hr.featurette-divider
  .row.featurette
    .col-md-7
      h2
        | First featurette heading. 
        span.text-muted It'll blow your mind.
      p.lead
        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      img.featurette-image.img-responsive.center-block(alt='500x500', src='http://opensourceforu.com/wp-content/uploads/2016/02/Trending-technology.jpg')
  hr.featurette-divider
  // /END THE FEATURETTES
  // FOOTER
  footer
    p.pull-right
      a(href='#') Back to top
    p
      | © 2016 Company, Inc. · 
      a(href='#') Privacy
      |  · 
      a(href='#') Terms
